#header {
    text-align: center;
}

table.resumeContact {
    margin-left: auto;
    margin-right: auto;
}

div.sectionBody {
    padding-left: 25pt;
}

ul.descBody {
    padding-left: 25pt;
}

span.descTitle {
    font-weight: bold;
}

span.descDate {
    font-style: italic;
    text-align: right;
}

span.descPosition {
    font-style: italic;
}

p.descPosition {
    font-style: italic;
}

address {
    text-align: center;
}
